.checked
{
    color : yellow;
    font-size : 1.2rem;
}
.unchecked
{
    font-size : 1.2rem;
}
#hike:hover
{
    background-color: grey;
}
#hikeimg
{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:60%;
}

textarea {
    resize: none;
  }

